* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(255, 242, 184);*/

  /* ff 3.6+ */

  height: 200vh;

  background: -moz-radial-gradient(
    circle at 50% 50%,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 188, 212, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(103, 58, 183, 1) 2%,
    rgba(205, 220, 57, 1) 3%,
    rgba(0, 150, 136, 1) 4%,
    rgba(255, 193, 7, 1) 5%,
    rgba(0, 188, 212, 1) 6%,
    rgba(255, 193, 7, 1) 7%,
    rgba(255, 193, 7, 1) 8%,
    rgba(233, 30, 99, 1) 9%,
    rgba(3, 169, 244, 1) 10%,
    rgba(0, 150, 136, 1) 11%,
    rgba(0, 150, 136, 1) 12%,
    rgba(63, 81, 181, 1) 13%,
    rgba(0, 188, 212, 1) 14%,
    rgba(103, 58, 183, 1) 15%,
    rgba(3, 169, 244, 1) 16%,
    rgba(0, 150, 136, 1) 17%,
    rgba(103, 58, 183, 1) 18%,
    rgba(233, 30, 99, 1) 19%,
    rgba(255, 235, 59, 1) 20%,
    rgba(0, 188, 212, 1) 21%,
    rgba(0, 150, 136, 1) 22%,
    rgba(255, 193, 7, 1) 23%,
    rgba(0, 188, 212, 1) 24%,
    rgba(33, 150, 243, 1) 25%,
    rgba(205, 220, 57, 1) 26%,
    rgba(103, 58, 183, 1) 27%,
    rgba(103, 58, 183, 1) 28%,
    rgba(139, 192, 74, 1) 29%,
    rgba(255, 193, 7, 1) 30%,
    rgba(33, 150, 243, 1) 31%,
    rgba(205, 220, 57, 1) 32%,
    rgba(0, 188, 212, 1) 33%,
    rgba(63, 81, 181, 1) 34%,
    rgba(255, 193, 7, 1) 35%,
    rgba(33, 150, 243, 1) 36%,
    rgba(205, 220, 57, 1) 37%,
    rgba(33, 150, 243, 1) 38%,
    rgba(255, 193, 7, 1) 39%,
    rgba(63, 81, 181, 1) 40%,
    rgba(233, 30, 99, 1) 41%,
    rgba(63, 81, 181, 1) 42%,
    rgba(0, 188, 212, 1) 43%,
    rgba(244, 67, 54, 1) 44%,
    rgba(233, 30, 99, 1) 45%,
    rgba(205, 220, 57, 1) 46%,
    rgba(205, 220, 57, 1) 47%,
    rgba(156, 39, 176, 1) 48%,
    rgba(139, 192, 74, 1) 49%,
    rgba(139, 192, 74, 1) 50%,
    rgba(156, 39, 176, 1) 51%,
    rgba(255, 235, 59, 1) 52%,
    rgba(0, 150, 136, 1) 53%,
    rgba(205, 220, 57, 1) 54%,
    rgba(255, 193, 7, 1) 55%,
    rgba(233, 30, 99, 1) 56%,
    rgba(0, 150, 136, 1) 57%,
    rgba(255, 235, 59, 1) 58%,
    rgba(205, 220, 57, 1) 59%,
    rgba(255, 235, 59, 1) 60%,
    rgba(156, 39, 176, 1) 61%,
    rgba(103, 58, 183, 1) 62%,
    rgba(205, 220, 57, 1) 63%,
    rgba(233, 30, 99, 1) 64%,
    rgba(0, 150, 136, 1) 65%,
    rgba(3, 169, 244, 1) 66%,
    rgba(76, 175, 80, 1) 67%,
    rgba(0, 150, 136, 1) 68%,
    rgba(139, 192, 74, 1) 69%,
    rgba(156, 39, 176, 1) 70%,
    rgba(33, 150, 243, 1) 71%,
    rgba(233, 30, 99, 1) 72%,
    rgba(156, 39, 176, 1) 73%,
    rgba(255, 193, 7, 1) 74%,
    rgba(63, 81, 181, 1) 75%,
    rgba(76, 175, 80, 1) 76%,
    rgba(76, 175, 80, 1) 77%,
    rgba(3, 169, 244, 1) 78%,
    rgba(76, 175, 80, 1) 79%,
    rgba(0, 150, 136, 1) 80%,
    rgba(76, 175, 80, 1) 81%,
    rgba(233, 30, 99, 1) 82%,
    rgba(233, 30, 99, 1) 83%,
    rgba(76, 175, 80, 1) 84%,
    rgba(3, 169, 244, 1) 85%,
    rgba(255, 235, 59, 1) 86%,
    rgba(205, 220, 57, 1) 87%,
    rgba(255, 193, 7, 1) 88%,
    rgba(205, 220, 57, 1) 89%,
    rgba(244, 67, 54, 1) 90%,
    rgba(33, 150, 243, 1) 91%,
    rgba(0, 188, 212, 1) 92%,
    rgba(255, 193, 7, 1) 93%,
    rgba(103, 58, 183, 1) 94%,
    rgba(139, 192, 74, 1) 95%,
    rgba(76, 175, 80, 1) 96%,
    rgba(0, 150, 136, 1) 97%,
    rgba(76, 175, 80, 1) 98%,
    rgba(205, 220, 57, 1) 99%,
    rgba(0, 0, 255, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 188, 212, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(103, 58, 183, 1) 2%,
    rgba(205, 220, 57, 1) 3%,
    rgba(0, 150, 136, 1) 4%,
    rgba(255, 193, 7, 1) 5%,
    rgba(0, 188, 212, 1) 6%,
    rgba(255, 193, 7, 1) 7%,
    rgba(255, 193, 7, 1) 8%,
    rgba(233, 30, 99, 1) 9%,
    rgba(3, 169, 244, 1) 10%,
    rgba(0, 150, 136, 1) 11%,
    rgba(0, 150, 136, 1) 12%,
    rgba(63, 81, 181, 1) 13%,
    rgba(0, 188, 212, 1) 14%,
    rgba(103, 58, 183, 1) 15%,
    rgba(3, 169, 244, 1) 16%,
    rgba(0, 150, 136, 1) 17%,
    rgba(103, 58, 183, 1) 18%,
    rgba(233, 30, 99, 1) 19%,
    rgba(255, 235, 59, 1) 20%,
    rgba(0, 188, 212, 1) 21%,
    rgba(0, 150, 136, 1) 22%,
    rgba(255, 193, 7, 1) 23%,
    rgba(0, 188, 212, 1) 24%,
    rgba(33, 150, 243, 1) 25%,
    rgba(205, 220, 57, 1) 26%,
    rgba(103, 58, 183, 1) 27%,
    rgba(103, 58, 183, 1) 28%,
    rgba(139, 192, 74, 1) 29%,
    rgba(255, 193, 7, 1) 30%,
    rgba(33, 150, 243, 1) 31%,
    rgba(205, 220, 57, 1) 32%,
    rgba(0, 188, 212, 1) 33%,
    rgba(63, 81, 181, 1) 34%,
    rgba(255, 193, 7, 1) 35%,
    rgba(33, 150, 243, 1) 36%,
    rgba(205, 220, 57, 1) 37%,
    rgba(33, 150, 243, 1) 38%,
    rgba(255, 193, 7, 1) 39%,
    rgba(63, 81, 181, 1) 40%,
    rgba(233, 30, 99, 1) 41%,
    rgba(63, 81, 181, 1) 42%,
    rgba(0, 188, 212, 1) 43%,
    rgba(244, 67, 54, 1) 44%,
    rgba(233, 30, 99, 1) 45%,
    rgba(205, 220, 57, 1) 46%,
    rgba(205, 220, 57, 1) 47%,
    rgba(156, 39, 176, 1) 48%,
    rgba(139, 192, 74, 1) 49%,
    rgba(139, 192, 74, 1) 50%,
    rgba(156, 39, 176, 1) 51%,
    rgba(255, 235, 59, 1) 52%,
    rgba(0, 150, 136, 1) 53%,
    rgba(205, 220, 57, 1) 54%,
    rgba(255, 193, 7, 1) 55%,
    rgba(233, 30, 99, 1) 56%,
    rgba(0, 150, 136, 1) 57%,
    rgba(255, 235, 59, 1) 58%,
    rgba(205, 220, 57, 1) 59%,
    rgba(255, 235, 59, 1) 60%,
    rgba(156, 39, 176, 1) 61%,
    rgba(103, 58, 183, 1) 62%,
    rgba(205, 220, 57, 1) 63%,
    rgba(233, 30, 99, 1) 64%,
    rgba(0, 150, 136, 1) 65%,
    rgba(3, 169, 244, 1) 66%,
    rgba(76, 175, 80, 1) 67%,
    rgba(0, 150, 136, 1) 68%,
    rgba(139, 192, 74, 1) 69%,
    rgba(156, 39, 176, 1) 70%,
    rgba(33, 150, 243, 1) 71%,
    rgba(233, 30, 99, 1) 72%,
    rgba(156, 39, 176, 1) 73%,
    rgba(255, 193, 7, 1) 74%,
    rgba(63, 81, 181, 1) 75%,
    rgba(76, 175, 80, 1) 76%,
    rgba(76, 175, 80, 1) 77%,
    rgba(3, 169, 244, 1) 78%,
    rgba(76, 175, 80, 1) 79%,
    rgba(0, 150, 136, 1) 80%,
    rgba(76, 175, 80, 1) 81%,
    rgba(233, 30, 99, 1) 82%,
    rgba(233, 30, 99, 1) 83%,
    rgba(76, 175, 80, 1) 84%,
    rgba(3, 169, 244, 1) 85%,
    rgba(255, 235, 59, 1) 86%,
    rgba(205, 220, 57, 1) 87%,
    rgba(255, 193, 7, 1) 88%,
    rgba(205, 220, 57, 1) 89%,
    rgba(244, 67, 54, 1) 90%,
    rgba(33, 150, 243, 1) 91%,
    rgba(0, 188, 212, 1) 92%,
    rgba(255, 193, 7, 1) 93%,
    rgba(103, 58, 183, 1) 94%,
    rgba(139, 192, 74, 1) 95%,
    rgba(76, 175, 80, 1) 96%,
    rgba(0, 150, 136, 1) 97%,
    rgba(76, 175, 80, 1) 98%,
    rgba(205, 220, 57, 1) 99%,
    rgba(0, 0, 255, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 50%,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 188, 212, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(103, 58, 183, 1) 2%,
    rgba(205, 220, 57, 1) 3%,
    rgba(0, 150, 136, 1) 4%,
    rgba(255, 193, 7, 1) 5%,
    rgba(0, 188, 212, 1) 6%,
    rgba(255, 193, 7, 1) 7%,
    rgba(255, 193, 7, 1) 8%,
    rgba(233, 30, 99, 1) 9%,
    rgba(3, 169, 244, 1) 10%,
    rgba(0, 150, 136, 1) 11%,
    rgba(0, 150, 136, 1) 12%,
    rgba(63, 81, 181, 1) 13%,
    rgba(0, 188, 212, 1) 14%,
    rgba(103, 58, 183, 1) 15%,
    rgba(3, 169, 244, 1) 16%,
    rgba(0, 150, 136, 1) 17%,
    rgba(103, 58, 183, 1) 18%,
    rgba(233, 30, 99, 1) 19%,
    rgba(255, 235, 59, 1) 20%,
    rgba(0, 188, 212, 1) 21%,
    rgba(0, 150, 136, 1) 22%,
    rgba(255, 193, 7, 1) 23%,
    rgba(0, 188, 212, 1) 24%,
    rgba(33, 150, 243, 1) 25%,
    rgba(205, 220, 57, 1) 26%,
    rgba(103, 58, 183, 1) 27%,
    rgba(103, 58, 183, 1) 28%,
    rgba(139, 192, 74, 1) 29%,
    rgba(255, 193, 7, 1) 30%,
    rgba(33, 150, 243, 1) 31%,
    rgba(205, 220, 57, 1) 32%,
    rgba(0, 188, 212, 1) 33%,
    rgba(63, 81, 181, 1) 34%,
    rgba(255, 193, 7, 1) 35%,
    rgba(33, 150, 243, 1) 36%,
    rgba(205, 220, 57, 1) 37%,
    rgba(33, 150, 243, 1) 38%,
    rgba(255, 193, 7, 1) 39%,
    rgba(63, 81, 181, 1) 40%,
    rgba(233, 30, 99, 1) 41%,
    rgba(63, 81, 181, 1) 42%,
    rgba(0, 188, 212, 1) 43%,
    rgba(244, 67, 54, 1) 44%,
    rgba(233, 30, 99, 1) 45%,
    rgba(205, 220, 57, 1) 46%,
    rgba(205, 220, 57, 1) 47%,
    rgba(156, 39, 176, 1) 48%,
    rgba(139, 192, 74, 1) 49%,
    rgba(139, 192, 74, 1) 50%,
    rgba(156, 39, 176, 1) 51%,
    rgba(255, 235, 59, 1) 52%,
    rgba(0, 150, 136, 1) 53%,
    rgba(205, 220, 57, 1) 54%,
    rgba(255, 193, 7, 1) 55%,
    rgba(233, 30, 99, 1) 56%,
    rgba(0, 150, 136, 1) 57%,
    rgba(255, 235, 59, 1) 58%,
    rgba(205, 220, 57, 1) 59%,
    rgba(255, 235, 59, 1) 60%,
    rgba(156, 39, 176, 1) 61%,
    rgba(103, 58, 183, 1) 62%,
    rgba(205, 220, 57, 1) 63%,
    rgba(233, 30, 99, 1) 64%,
    rgba(0, 150, 136, 1) 65%,
    rgba(3, 169, 244, 1) 66%,
    rgba(76, 175, 80, 1) 67%,
    rgba(0, 150, 136, 1) 68%,
    rgba(139, 192, 74, 1) 69%,
    rgba(156, 39, 176, 1) 70%,
    rgba(33, 150, 243, 1) 71%,
    rgba(233, 30, 99, 1) 72%,
    rgba(156, 39, 176, 1) 73%,
    rgba(255, 193, 7, 1) 74%,
    rgba(63, 81, 181, 1) 75%,
    rgba(76, 175, 80, 1) 76%,
    rgba(76, 175, 80, 1) 77%,
    rgba(3, 169, 244, 1) 78%,
    rgba(76, 175, 80, 1) 79%,
    rgba(0, 150, 136, 1) 80%,
    rgba(76, 175, 80, 1) 81%,
    rgba(233, 30, 99, 1) 82%,
    rgba(233, 30, 99, 1) 83%,
    rgba(76, 175, 80, 1) 84%,
    rgba(3, 169, 244, 1) 85%,
    rgba(255, 235, 59, 1) 86%,
    rgba(205, 220, 57, 1) 87%,
    rgba(255, 193, 7, 1) 88%,
    rgba(205, 220, 57, 1) 89%,
    rgba(244, 67, 54, 1) 90%,
    rgba(33, 150, 243, 1) 91%,
    rgba(0, 188, 212, 1) 92%,
    rgba(255, 193, 7, 1) 93%,
    rgba(103, 58, 183, 1) 94%,
    rgba(139, 192, 74, 1) 95%,
    rgba(76, 175, 80, 1) 96%,
    rgba(0, 150, 136, 1) 97%,
    rgba(76, 175, 80, 1) 98%,
    rgba(205, 220, 57, 1) 99%,
    rgba(0, 0, 255, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 50%,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 188, 212, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(103, 58, 183, 1) 2%,
    rgba(205, 220, 57, 1) 3%,
    rgba(0, 150, 136, 1) 4%,
    rgba(255, 193, 7, 1) 5%,
    rgba(0, 188, 212, 1) 6%,
    rgba(255, 193, 7, 1) 7%,
    rgba(255, 193, 7, 1) 8%,
    rgba(233, 30, 99, 1) 9%,
    rgba(3, 169, 244, 1) 10%,
    rgba(0, 150, 136, 1) 11%,
    rgba(0, 150, 136, 1) 12%,
    rgba(63, 81, 181, 1) 13%,
    rgba(0, 188, 212, 1) 14%,
    rgba(103, 58, 183, 1) 15%,
    rgba(3, 169, 244, 1) 16%,
    rgba(0, 150, 136, 1) 17%,
    rgba(103, 58, 183, 1) 18%,
    rgba(233, 30, 99, 1) 19%,
    rgba(255, 235, 59, 1) 20%,
    rgba(0, 188, 212, 1) 21%,
    rgba(0, 150, 136, 1) 22%,
    rgba(255, 193, 7, 1) 23%,
    rgba(0, 188, 212, 1) 24%,
    rgba(33, 150, 243, 1) 25%,
    rgba(205, 220, 57, 1) 26%,
    rgba(103, 58, 183, 1) 27%,
    rgba(103, 58, 183, 1) 28%,
    rgba(139, 192, 74, 1) 29%,
    rgba(255, 193, 7, 1) 30%,
    rgba(33, 150, 243, 1) 31%,
    rgba(205, 220, 57, 1) 32%,
    rgba(0, 188, 212, 1) 33%,
    rgba(63, 81, 181, 1) 34%,
    rgba(255, 193, 7, 1) 35%,
    rgba(33, 150, 243, 1) 36%,
    rgba(205, 220, 57, 1) 37%,
    rgba(33, 150, 243, 1) 38%,
    rgba(255, 193, 7, 1) 39%,
    rgba(63, 81, 181, 1) 40%,
    rgba(233, 30, 99, 1) 41%,
    rgba(63, 81, 181, 1) 42%,
    rgba(0, 188, 212, 1) 43%,
    rgba(244, 67, 54, 1) 44%,
    rgba(233, 30, 99, 1) 45%,
    rgba(205, 220, 57, 1) 46%,
    rgba(205, 220, 57, 1) 47%,
    rgba(156, 39, 176, 1) 48%,
    rgba(139, 192, 74, 1) 49%,
    rgba(139, 192, 74, 1) 50%,
    rgba(156, 39, 176, 1) 51%,
    rgba(255, 235, 59, 1) 52%,
    rgba(0, 150, 136, 1) 53%,
    rgba(205, 220, 57, 1) 54%,
    rgba(255, 193, 7, 1) 55%,
    rgba(233, 30, 99, 1) 56%,
    rgba(0, 150, 136, 1) 57%,
    rgba(255, 235, 59, 1) 58%,
    rgba(205, 220, 57, 1) 59%,
    rgba(255, 235, 59, 1) 60%,
    rgba(156, 39, 176, 1) 61%,
    rgba(103, 58, 183, 1) 62%,
    rgba(205, 220, 57, 1) 63%,
    rgba(233, 30, 99, 1) 64%,
    rgba(0, 150, 136, 1) 65%,
    rgba(3, 169, 244, 1) 66%,
    rgba(76, 175, 80, 1) 67%,
    rgba(0, 150, 136, 1) 68%,
    rgba(139, 192, 74, 1) 69%,
    rgba(156, 39, 176, 1) 70%,
    rgba(33, 150, 243, 1) 71%,
    rgba(233, 30, 99, 1) 72%,
    rgba(156, 39, 176, 1) 73%,
    rgba(255, 193, 7, 1) 74%,
    rgba(63, 81, 181, 1) 75%,
    rgba(76, 175, 80, 1) 76%,
    rgba(76, 175, 80, 1) 77%,
    rgba(3, 169, 244, 1) 78%,
    rgba(76, 175, 80, 1) 79%,
    rgba(0, 150, 136, 1) 80%,
    rgba(76, 175, 80, 1) 81%,
    rgba(233, 30, 99, 1) 82%,
    rgba(233, 30, 99, 1) 83%,
    rgba(76, 175, 80, 1) 84%,
    rgba(3, 169, 244, 1) 85%,
    rgba(255, 235, 59, 1) 86%,
    rgba(205, 220, 57, 1) 87%,
    rgba(255, 193, 7, 1) 88%,
    rgba(205, 220, 57, 1) 89%,
    rgba(244, 67, 54, 1) 90%,
    rgba(33, 150, 243, 1) 91%,
    rgba(0, 188, 212, 1) 92%,
    rgba(255, 193, 7, 1) 93%,
    rgba(103, 58, 183, 1) 94%,
    rgba(139, 192, 74, 1) 95%,
    rgba(76, 175, 80, 1) 96%,
    rgba(0, 150, 136, 1) 97%,
    rgba(76, 175, 80, 1) 98%,
    rgba(205, 220, 57, 1) 99%,
    rgba(0, 0, 255, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 188, 212, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(139, 192, 74, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(103, 58, 183, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(233, 30, 99, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(205, 220, 57, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(0, 188, 212, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(63, 81, 181, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(76, 175, 80, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(3, 169, 244, 1) 1%,
    rgba(0, 150, 136, 1) 1%,
    rgba(33, 150, 243, 1) 1%,
    rgba(156, 39, 176, 1) 1%,
    rgba(255, 235, 59, 1) 1%,
    rgba(244, 67, 54, 1) 1%,
    rgba(255, 193, 7, 1) 1%,
    rgba(103, 58, 183, 1) 2%,
    rgba(205, 220, 57, 1) 3%,
    rgba(0, 150, 136, 1) 4%,
    rgba(255, 193, 7, 1) 5%,
    rgba(0, 188, 212, 1) 6%,
    rgba(255, 193, 7, 1) 7%,
    rgba(255, 193, 7, 1) 8%,
    rgba(233, 30, 99, 1) 9%,
    rgba(3, 169, 244, 1) 10%,
    rgba(0, 150, 136, 1) 11%,
    rgba(0, 150, 136, 1) 12%,
    rgba(63, 81, 181, 1) 13%,
    rgba(0, 188, 212, 1) 14%,
    rgba(103, 58, 183, 1) 15%,
    rgba(3, 169, 244, 1) 16%,
    rgba(0, 150, 136, 1) 17%,
    rgba(103, 58, 183, 1) 18%,
    rgba(233, 30, 99, 1) 19%,
    rgba(255, 235, 59, 1) 20%,
    rgba(0, 188, 212, 1) 21%,
    rgba(0, 150, 136, 1) 22%,
    rgba(255, 193, 7, 1) 23%,
    rgba(0, 188, 212, 1) 24%,
    rgba(33, 150, 243, 1) 25%,
    rgba(205, 220, 57, 1) 26%,
    rgba(103, 58, 183, 1) 27%,
    rgba(103, 58, 183, 1) 28%,
    rgba(139, 192, 74, 1) 29%,
    rgba(255, 193, 7, 1) 30%,
    rgba(33, 150, 243, 1) 31%,
    rgba(205, 220, 57, 1) 32%,
    rgba(0, 188, 212, 1) 33%,
    rgba(63, 81, 181, 1) 34%,
    rgba(255, 193, 7, 1) 35%,
    rgba(33, 150, 243, 1) 36%,
    rgba(205, 220, 57, 1) 37%,
    rgba(33, 150, 243, 1) 38%,
    rgba(255, 193, 7, 1) 39%,
    rgba(63, 81, 181, 1) 40%,
    rgba(233, 30, 99, 1) 41%,
    rgba(63, 81, 181, 1) 42%,
    rgba(0, 188, 212, 1) 43%,
    rgba(244, 67, 54, 1) 44%,
    rgba(233, 30, 99, 1) 45%,
    rgba(205, 220, 57, 1) 46%,
    rgba(205, 220, 57, 1) 47%,
    rgba(156, 39, 176, 1) 48%,
    rgba(139, 192, 74, 1) 49%,
    rgba(139, 192, 74, 1) 50%,
    rgba(156, 39, 176, 1) 51%,
    rgba(255, 235, 59, 1) 52%,
    rgba(0, 150, 136, 1) 53%,
    rgba(205, 220, 57, 1) 54%,
    rgba(255, 193, 7, 1) 55%,
    rgba(233, 30, 99, 1) 56%,
    rgba(0, 150, 136, 1) 57%,
    rgba(255, 235, 59, 1) 58%,
    rgba(205, 220, 57, 1) 59%,
    rgba(255, 235, 59, 1) 60%,
    rgba(156, 39, 176, 1) 61%,
    rgba(103, 58, 183, 1) 62%,
    rgba(205, 220, 57, 1) 63%,
    rgba(233, 30, 99, 1) 64%,
    rgba(0, 150, 136, 1) 65%,
    rgba(3, 169, 244, 1) 66%,
    rgba(76, 175, 80, 1) 67%,
    rgba(0, 150, 136, 1) 68%,
    rgba(139, 192, 74, 1) 69%,
    rgba(156, 39, 176, 1) 70%,
    rgba(33, 150, 243, 1) 71%,
    rgba(233, 30, 99, 1) 72%,
    rgba(156, 39, 176, 1) 73%,
    rgba(255, 193, 7, 1) 74%,
    rgba(63, 81, 181, 1) 75%,
    rgba(76, 175, 80, 1) 76%,
    rgba(76, 175, 80, 1) 77%,
    rgba(3, 169, 244, 1) 78%,
    rgba(76, 175, 80, 1) 79%,
    rgba(0, 150, 136, 1) 80%,
    rgba(76, 175, 80, 1) 81%,
    rgba(233, 30, 99, 1) 82%,
    rgba(233, 30, 99, 1) 83%,
    rgba(76, 175, 80, 1) 84%,
    rgba(3, 169, 244, 1) 85%,
    rgba(255, 235, 59, 1) 86%,
    rgba(205, 220, 57, 1) 87%,
    rgba(255, 193, 7, 1) 88%,
    rgba(205, 220, 57, 1) 89%,
    rgba(244, 67, 54, 1) 90%,
    rgba(33, 150, 243, 1) 91%,
    rgba(0, 188, 212, 1) 92%,
    rgba(255, 193, 7, 1) 93%,
    rgba(103, 58, 183, 1) 94%,
    rgba(139, 192, 74, 1) 95%,
    rgba(76, 175, 80, 1) 96%,
    rgba(0, 150, 136, 1) 97%,
    rgba(76, 175, 80, 1) 98%,
    rgba(205, 220, 57, 1) 99%,
    rgba(0, 0, 255, 1) 100%
  );
}
.countryTitle {
  color: #d9d9d9;

  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20px;
}
